/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/


.clj-kondo/
.lsp/
target/
.lein-failures
-lein-repl-history
.calva/output-window/output.calva-repl
